/* normalize */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

/* end */
:root {
    --border-color: #d3d3d3;
}

body {
    margin: 0;
    background-color: #e5dfdf;
    font-family: system-ui, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid var(--border-color);
}

#canvas {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}

#canvas > .row {
    display: flex;
}

#canvas div {
    width: 100%;
    height: 100%;
}

.settings {
    width: 200px;
    padding: 40px 20px;
}

.settings > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}